#container {
    padding: 0;
    margin: 0;
    padding-bottom: 1px;
    margin-bottom: -1px;
    /*border-top: 3px solid black;
    border-bottom: 3px solid black;*/
    background-image: url('background.jpg');
    background-size: 25%;
    display: flex;
    flex-direction: column;
}

details {
    padding: 0;
    margin: 1em 30%;
}

details>.lyrics, .comments {
    background-color: rgba(150, 150, 180, 0.7);
    /*padding-top: 0.5em;*/
    padding-bottom: 0.5em;
    border-radius: 1em;
    outline: 2px solid rgba(50, 50, 60, 0.8);
    outline-offset: -2px;
}

.lyrics>h2 {
    text-align: center;
    color: white;
    margin: auto;
    margin-bottom: 0.5em;
    font-size: 1.5vw;
}

.lyrics div {
    text-align: center;
    color: white;
    margin: 0;
    font-size: 1vw;
}

.comments {
    display: none;
    width: 30%;
    text-align: center;
    color: white;
    position: absolute;
    right: 0%;
    z-index: 1;
    padding: 0;
}

.comments div {
    width: 100%;
    text-align: center;
    margin: 0;
}

.comments img {
    /*float: left;*/
    width: 15%;
    border-radius: 1em;
    outline: 2px solid rgba(50, 50, 60, 0.8);
    outline-offset: -2px;
}

.comments section {
    display: flex;
    flex-direction: horizontal;
    align-items: center;
}
.comments section ~ section {
    margin-top: 0.2em;
}

.hascomments {
    text-decoration: underline;
}

.hascomments:hover>.comments {
    display: inline;
}

.hascomments:hover {
    color: lightgray;
}

summary {
    padding: 0;
    margin: 0;
    display: block;
}

.songtitle {
    padding: 0.3em;
    margin: 0;
    background-color: rgba(200, 200, 220, 0.7);
    /*border: 10px solid transparent;
    border-image: url("background.jpg") 30 round;*/
}

.songtitle>p {
    text-align: center;
    color: white;
    font-size: 2.5vw;
    font-weight: bold;
    -webkit-text-stroke: 1px black;
    margin: 0;
}

html:before{
    content:"";
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: url(background.jpg);
    background-size: 25%;
    z-index: -1;
}